@font-face {
     font-display: swap;
     font-family: 'Play';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/Play-700.woff2') format('woff2'),
          url('../fonts/Play-700.woff') format('woff');
}

@font-face {
     font-display: swap;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/poppins-400.woff2') format('woff2'),
          url('../fonts/poppins-400.woff') format('woff');
}

@font-face {
     font-display: swap;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 600;
     src: url('../fonts/poppins-600.woff2') format('woff2'),
          url('../fonts/poppins-600.woff') format('woff');
}

@font-face {
     font-display: swap;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/poppins-700.woff2') format('woff2'),
          url('../fonts/poppins-700.woff') format('woff');
}