.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.rotated {
    transform: rotate(180deg);
}
.transition-all {
    transition: all 0.3s;
}
.scroll-block {
    overflow: hidden;
}