:root {
    --color-secondary-light:    #FFFFFF;
    --color-secondary-black:    #000000;
    --color-secondary-nickel:   #747272;
    --color-brand-dark:         #011C44;
    --color-brand-light:        #2B7FFF;
}

$bp-desktop: 1280px;
$bp-tablet: 768px;
$bp-mobile: 480px;