.button{
    width: 186px;
    height: 44px;
    display: block;
    background: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 24px;

    color: var(--color-secondary-light);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        background: transparent;
        color: var(--color-brand-light);
    }
}  