.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    &__button {
        padding: 0;
        width: 11px;
        height: 11px;
        background-color: var(--color-brand-dark);
        border-radius: 50%;

        &--active {
            background-color: var(--color-brand-light);
        }
    }
}