.social{
    display: flex;
    align-items: center;
    gap: 32px;
    &__icon{
        transition: all 0.3s ease;
        &:hover {
            fill: var(--color-brand-light);
        }
    }
}

@media screen and (min-width: $bp-tablet) {
    .social{
        display: flex;
        justify-content: flex-start;
    }
}