.advantages{
    padding-top: 130px;
    padding-bottom: 50px;
    background: url('../images/bg-advantages.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background: url('../images/bg-advantages@2x.png');  
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
        }
    
    &__title{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    &__list{
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

    }
}

@media screen and (min-width: $bp-tablet) {
    .advantages {
        padding-top: 200px;
        padding-bottom: 150px;
        &__title {
            width: 60%;
        }

        &__list{
            flex-direction: column;
        }
    }
}

@media screen and (min-width: $bp-desktop) {
    .advantages {
        padding-top: 200px;
        padding-bottom: 150px;
        background: url('../images/bg-advantages.png');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background: url('../images/bg-advantages@2x.png');
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__title {
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }

        &__list {
            margin-top: 48px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 40px;

        }
    }
}