.footer{
    padding: 32px 0;
    background-color: var(--color-brand-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &__container{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    &__nav,
    &__address{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__address{
        &-list{
            display: none;
        }
    }

    &__logo{
        flex-grow: 1;
    }

    &__logo img {
        width: 72px;
    }

    &__menu a,
    &__address-link{
        padding-bottom: 16px;
        color: var(--color-secondary-light);
    }

    &__address-link{
        color: var(--color-secondary-light);
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
        &:hover{
            color: var(--color-brand-light);
        }
    }
    &__social{
        display: flex;
        justify-content: center;
        gap: 22px;
    }

    &__social-icon{
        fill: var(--color-secondary-light);
        &:hover{
            fill: var(--color-brand-light);
        }
    }

    &__address-copyright{
        color: #A18268;
        font-size: 14px;
    }
}

@media screen and (min-width: $bp-tablet){
    
    .footer {
        padding: 32px 0;
        background-color: var(--color-brand-dark);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &::before {
            background-image: url('../images/footer-images.png');
            background-repeat: no-repeat;
            background-size: cover;
            content: '';
            position: absolute;
            bottom: 0;

            width: 180px;
            height: 120px;
            top: 52%;
            right: 0;
        }

        &__container {
            display: flex;
            flex-direction: row;
            text-align: initial;
            gap: 20px;
        }

        &__nav,
        &__address {
            display: flex;
            flex-direction: row;
            flex-basis: 40%;
            justify-content: center;
            gap: 20px;
        }

        &__logo,
        &__menu,
        &__address-list {
            flex-grow: 1;
        }

        &__logo img {
            width: 100px;
        }

        &__address-list {
            max-width: 277px;
            display: block;
        }

        &__menu a,
        &__address-link {
            padding-bottom: 16px;
            color: var(--color-secondary-light);
        }

        &__address-link {
            color: var(--color-secondary-light);
            font-size: 16px;
            font-weight: 300;
            text-decoration: none;

            &:hover {
                color: var(--color-brand-light);
            }
        }

        &__social {
            display: flex;
            justify-content: flex-start;
            gap: 22px;
        }

        &__social-icon {
            fill: var(--color-secondary-light);

            &:hover {
                fill: var(--color-brand-light);
            }
        }

        &__address-copyright {
            color: var(--color-secondary-nickel);
            font-size: 14px;
        }
    }
}