.backdrop{  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s, visibility 0.3s;
    &.is-hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}
.modal{
    padding: 100px 15px;
    width: 100%;
    max-width: 880px;
    max-height: 880px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    overflow-y: auto;
    position: relative;
    &__title{
        margin-bottom: 8px;
        font-size: 30px;
        text-align: center;
    }
    &__text{
        margin-bottom: 50px;
        font-size: 14px;
        text-align: center;
            
    }
    &__form-fiald{
        margin-bottom: 32px;
    }
    &__button{
        display: block;
        margin: 24px auto;
    }
    &__btn-close{
        cursor: pointer;
        width: 50px;
        height: 50px;
        background: transparent;
        border: none;
        position: absolute;
        top: 50px;
        right: 50px;
        &::before,
        &::after{
            position: absolute;
            top: 40%;
            right: 0;
            content: '';
            width: 30px;
            height: 2px;
            background: var(--color-primary-dark);
        }
        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
    }
}

@media screen and (min-width: $bp-desktop) {
    .backdrop {
        padding: 15px 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s, visibility 0.3s;
        &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
    }
    
    .modal {
        padding: 128px;
        width: 100%;
        max-width: 880px;
        max-height: 880px;
        background-color: var(--color-primary-light);
        border-radius: 32px;
        overflow-y: auto;
        position: relative;
        &__title {
            margin-bottom: 8px;
            text-align: center;
        }
    
        &__text {
            margin-bottom: 72px;
            text-align: center;
        }
    
        &__form-fiald {
            margin-bottom: 32px;
        }
    
        &__button {
            display: block;
            margin: 24px auto;
        }
    
        &__btn-close {
            cursor: pointer;
            width: 50px;
            height: 50px;
            background: transparent;
            border: none;
            position: absolute;
            top: 50px;
            right: 50px;
            &::before,
            &::after {
                position: absolute;
                top: 40%;
                right: 0;
                content: '';
                width: 24px;
                height: 2px;
                background: var(--color-primary-dark);
            }
    
            &::before {
                transform: rotate(45deg);
            }
    
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
}