.backdrop{  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(1, 31, 74, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s, visibility 0.3s;
    &.is-hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}
.modal{
    padding: 100px 15px;
    width: 100%;
    max-width: 723px;
    max-height: 681px;
    background-color: var(--color-brand-dark);
    border-radius: 32px;
    overflow-y: auto;
    position: relative;

    &__title,
    &__subtitle {
        color: var(--color-secondary-light);
    }

    &__title {
        margin: 0 auto;
        max-width: 50%;
        font-size: 30px;
        text-align: center
    }

    &__subtitle {
        max-width: 100%;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        margin: 40px auto 32px auto;
    }
    
    &__text{
        margin-bottom: 50px;
        font-size: 14px;
        text-align: center;
            
    }
    &__form-fiald{
        margin-bottom: 32px;
    }
    &__button{
        display: block;
        margin: 24px auto;
    }
    &__btn-close{
        cursor: pointer;
        width: 50px;
        height: 50px;
        background: transparent;
        border: none;
        position: absolute;
        top: 20px;
        right: 30px;
        &::before,
        &::after{
            position: absolute;
            top: 40%;
            right: 0;
            content: '';
            width: 30px;
            height: 2px;
            background: var(--color-secondary-light);
        }
        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
    }
}

@media screen and (min-width: $bp-desktop) {
    .backdrop {
        padding: 15px 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(1, 31, 74, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s, visibility 0.3s;
        &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
    }
    
    .modal {
        padding: 128px;
        width: 100%;
        min-width: 723px;
        background-color: var(--color-brand-dark);
        border-radius: 32px;
        overflow-y: auto;
        position: relative;

        &__title,
        &__subtitle {
            color: var(--color-secondary-light);
        }

        &__title {
            max-width: 60%;
            font-family: "Play", sans-serif;
            color: var(--color-secondary-light);
            font-size: 64px;
            font-weight: 700;
            text-align: center;
        }

        &__subtitle {
            max-width: 61%;
            font-size: 22px;
            font-weight: 600;
            text-align: center;
            margin: 40px auto 32px auto;
        }
    
        &__form-fiald {
            margin-bottom: 32px;
        }
    
        &__button {
            display: block;
            margin: 24px auto;
        }
    
        &__btn-close {
            cursor: pointer;
            width: 50px;
            height: 50px;
            background: transparent;
            border: none;
            position: absolute;
            top: 50px;
            right: 50px;
            &::before,
            &::after {
                position: absolute;
                top: 40%;
                right: 0;
                content: '';
                width: 24px;
                height: 2px;
                background: var(--color-secondary-light);
            }
    
            &::before {
                transform: rotate(45deg);
            }
    
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
}